{{ define "layout" }}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">


    <title>Funds trackr</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Funds</span> Tracker</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="index.html">Home</a></li>
            <li><a href="#">ALink</a></li>
            <li><a href="#">AnotherLink</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">

        <h1>Input how much you have spent</h1>
      </div>
    </section>

    <section id="allocation">
      <div class="container">
        <h1>This is how much you have spent: £800</h1>
        <form>


          <p>What was it for? <select>
                        <option></option>
                        <option>Clothing & footwear</option>
                        <option>Food & supplies</option>
                        <option>Laundry & dry cleaning</option>
                        <option>Health costs</option>
                        <option>Vehicle maintenance</option>
                        <option>Vehicle tax</option>
                        <option>Vehicle Insurance</option>
                    </select></p>
          <p>Enter how much was spent: <input type="text" placeholder="Enter money.."><button type="submit" class="button_1">Save</button></p>

        </form>
      </div>
    </section>

  <section class="trajectory">

  </section>

    <footer>
      <p>Cap-Com, Copyright &copy; 2017</p>
    </footer>
  </body>
</html>

{{ end }}